html{
    background-color: rgb(14, 14, 14);
    color: white;
}

nav, #hero, #section2 {

    padding-left: 100px;
    padding-right: 100px;
    
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    position: sticky;
    top: 0;
    background-color: rgb(20, 3, 3);
}

#nav1>a{
    text-decoration: none;
    
    color: #9ba3b4;
    vertical-align: middle;
}
  

#nav1 a{
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #9ba3b4;
    margin-right: 10px;
    font-size: smaller;
}
    
a{
    margin-right: 15px;
    font-family: 'Times New Roman', Times, serif;
    color:  rgb(0, 106, 187);
}
    

#ad{
    text-align: center;
    color: #9ba3b4;
}

h6{
        font-family: 'Times New Roman', Times, serif;
        color: white
}

#img1{

    width: 50vw;
    height: 60vh;
    align-items: right;
    justify-content: space-between;

}
hr{
    color: transparent;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* Adjust opacity with rgba */
    margin: 20px 0;
}

#hero, #section2{
    display: flex;
    flex-direction: row;
}


.vs_button{
    padding: 5px;
    background-color: rgb(0, 120, 212);
    color: white;
    border-radius: 5px;

}

.vs_button:hover{
    background-color: rgb(0, 106, 187);
    cursor: pointer;
}
.langs
{
    font-family: 'Times New Roman', Times, serif;
}


.right_section2{
    display: grid;
     grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    width: 70vw; 
    column-gap: 8px;
    row-gap: 8px;
   
}

.left{
    width: 30vw;
}

.box{
    width: 20%;
    height: 150px;
    border: 20% solid white;
    margin: 5px 0; 
    color: #9ba3b4;
    font-size: smaller;
}
.box p{
    font-size: smaller;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box img
{
    background-color: rgba(255, 255, 255, 0.2); 
}
#section7_right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
   
}

.box{

    border-radius: 1px;
    padding: 2px;
    align-items: center; 
    /* display: flex; */
    
    /* box-sizing: border-box; */
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);


}

.box:hover{
    border: 1px solid whitesmoke;
}
button{
    border-radius: 5px;
    background-color: transparent;
    padding: 4px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.left 
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 200%;
    color: #9ba3b4;
}
p{
    text-align: center;
}
.right_section2
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 200%;
    color: #9ba3b4;
    text-align: center;
   

}
 #section3
{
    display: flex;
    flex-direction: row;
    text-align: center;
   
}
/* .left{
    align-items: center;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
} */
 #section4,#left
 {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
 }
 #img3{

    width: 50vw;
    height: 60vh;
    align-items: right;

}
#j1
{
    vertical-align: middle;
    height: 10;
    width: 10;
}

#section5
{
    display: flex;
    align-items: center; /* Vertically aligns content and image */
    justify-content: space-between;
}
#section6
{
    display: flex;
    align-items: center; /* Vertically aligns content and image */
    justify-content: space-between;  
}
#section7
{
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    color: #9ba3b4;
}
#nav3{
    margin-right: 50px;
    color: #9ba3b4;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right:10px;
    gap: 10px;
    padding-bottom:0;
}
#nav4
{
    margin-right: 50px;
    color: #9ba3b4;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right:10px;
    gap:10px;
    padding-top:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;

}

.right{
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: #9ba3b4;
}
h4{
    align-items: center;
    color: #9ba3b4;
    font-family: 'Times New Roman', Times, serif;
    font-size: smaller;

}
#Hel
{
    align-items: center;
}
.left h1{
    font-size: xX-large;
    color: beige;
}
#nav2 input
{
   color: #9ba3b4; 
   background-color: black

}
#nav2 button{
    background-color: black;
}
#nav2 .vs_button
{
    background-color: rgb(0, 106, 187); ;
}
#nav1 p{
    color: aliceblue;
}
#hero p{
    color: #9ba3b4;
}
#hero p{
    display: flex;
    
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1); /* Transparent background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Shadow around the box */
                
}
.langss
{
    display: flex;
    
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1); /* Transparent background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Shadow around the box */
    white-space: pre-wrap;
    object-fit: contain;           
} 
.langss p{
    font-size: smaller;
} 
.langss #j1
{
    height: 10;
    width: 10;
    object-fit: contain;  
    vertical-align: middle;
}
#section7 h3{
   align-items: center;
   justify-content: center;
   width: 30%; /* Adjust as needed */
   margin: 0 auto;
   color: aliceblue;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#section7 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;
}
#ad p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;
}
#nav5 svg
{
   align-items: end;
   margin: 0;
    padding: 0;
    position: relative;
}
